* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  gap: 20px;
}

#verification_heading {
  text-align: center;
}

#verification_subtext {
  font-size: 18px;
  text-align: center;
}

.code-container {
  text-align: center;
  margin: 25px 0;
}

input {
  width: 60px;
  height: 80px;
  margin: 0 5px;
  font-size: 50px;
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  width: 160px;
  height: 50px;
  font-size: 22px;
  place-self: center;
  cursor: pointer;
}
